<app-anonymous-form-wrapper
	header="Forgot your password"
	paragraph="No problem! Just let us know your email address and we will email you a password reset link that will allow you to choose a new one."
>
	<div>
		<app-email-input (emailInputChange)="onEmailInputChange($event)" />
	</div>

	<div>
		<app-submit-button text="Send" [isDisabled]="!isFormValid" (click)="forgotYourPassword()" />
	</div>

	<div class="text-center">
		<app-link-button text="Back to sign in!" route="{{ appRoutes.Default }}" />
	</div>
</app-anonymous-form-wrapper>
