<app-input-label text="{{ label }}" [required]="true" />
<input
	type="password"
	class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-rose-500 focus:outline-none focus:ring-rose-500 sm:text-sm"
	name="password"
	autocomplete="current-password"
	[formControl]="passwordInput"
/>
<div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
	<app-error-span *ngIf="passwordInput.hasError('required')" error="{{ label }} is required!" />
	<app-error-span
		*ngIf="passwordInput.hasError('pattern')"
		error="Password must contain at least one number, one uppercase, one lowercase letter and at least 8 characters!"
	/>
</div>
