<app-input-label text="{{ label }}" [required]="true" />

<app-image *ngIf="fileSrc" url="{{ fileSrc }}" classNames="h-36 w-36 rounded-md mx-auto" />

<div *ngIf="!fileSrc" class="mt-2 flex justify-center rounded-md border-2 border-dashed border-gray-300 px-5 pb-5 pt-5">
	<label
		for="file-upload"
		class="relative cursor-pointer rounded-md bg-white font-medium text-rose-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-rose-500 focus-within:ring-offset-2 hover:text-rose-500"
	>
		<div class="space-y-1 text-center">
			<div class="flex text-sm text-gray-600">
				<svg
					class="mx-auto h-12 w-12 text-gray-400"
					stroke="currentColor"
					fill="none"
					viewBox="0 0 48 48"
					aria-hidden="true"
				>
					<path
						d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
				</svg>
			</div>
		</div>
		Upload a file
		<input #fileInput id="file-upload" name="file-upload" type="file" class="sr-only" (change)="onFileUpload()" />
	</label>
</div>

<app-error-span *ngIf="fileSrc.length <= 0" error="{{ label }} is required!" />
