<app-anonymous-form-wrapper header="Change your password">
	<div>
		<app-password-input
			label="New Password"
			[isPasswordPatternRequired]="true"
			(passwordInputChange)="onPasswordInputChange($event, 'newPassword')"
		/>
	</div>

	<div>
		<app-password-input
			label="Confirm Password"
			[isPasswordPatternRequired]="true"
			(passwordInputChange)="onPasswordInputChange($event, 'confirmPassword')"
		/>
	</div>

	<app-error-span *ngIf="isFormValid && !passwordsMatch" error="Passwords must match!" />

	<div>
		<app-submit-button text="Send" [isDisabled]="!isFormValid || !passwordsMatch" (click)="changeYourPassword()" />
	</div>

	<div class="text-center">
		<app-link-button text="Back to sign in!" route="{{ appRoutes.Default }}" />
	</div>
</app-anonymous-form-wrapper>
