<div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">
	<h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Privacy Policy</h1>
	<div class="mt-5 max-w-2xl">
		<p>
			DevSpace takes your privacy very seriously. We do not collect or share any personal information unless you
			explicitly provide it to us. When you use DevSpace, we may collect certain non-personal information such as
			your IP address, browser type, device type, and operating system. This information is used solely for the
			purpose of improving our service and is not shared with third parties. If you choose to register for
			DevSpace, we will collect your email address and password. This information is stored securely in our
			database and is used solely for the purpose of authenticating you and providing you with access to our
			service. We will never share your email address or password with any third parties. DevSpace uses cookies to
			provide you with a personalized experience. Cookies are small text files that are stored on your device and
			allow us to remember your preferences and settings. You can choose to disable cookies in your browser
			settings, but this may affect your ability to use our service.
		</p>
	</div>
</div>
